<nav>
    <div class="site-title">
        <a href="/"><h1>All Users</h1></a>

    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/submit">Submit a User</a></li>
    </ul>
</nav>